process.cache = 'lenient'

nextflowVersion = '>=20.0'

import java.time.*
Date now = new Date()


params {
    day                = now.format("yyyMMdd")
    timestamp          = now.format("yyyyMMdd-HH-mm-ss")
    out                = "Analysis_Results-${day}"
    tracedir           = "${out}"
}

profiles {

    standard { 
        params.vcf = "20210121"
        params.gcp = false

        singularity {
            enabled = true
            autoMounts = true
        }

        process {
            executor = 'slurm'
            queue = 'genomicsguestA'
            clusterOptions = '-A b1042 -t 48:00:00 -e errlog.txt'
            container = 'andersenlab/heritability:v0.2'

            withLabel: medium {
                cpus = 4
            }

            withLabel: small {
                cpus = 1
            }

            withLabel: large {
                cpus = 6
            }

        }

        executor {
            queueSize = 500
            submitRateLimit = 5
        }

    }

    gcp { 
        params.gcp = true

        docker {
            enabled = true
        }

        process {
            executor = 'google-lifesciences'
            container = 'andersenlab/heritability:v0.2'
            //machineType = 'n1-standard-1'

            withLabel: medium {
              machineType = 'n1-standard-4'
            }

            withLabel: small {
              machineType = 'n1-standard-1'
            }

            withLabel: large {
              machineType = "n1-highmem-2"

            } 
        }

        google {
            project = "${params.google_project}"
                zone = "${params.google_zone}"
                lifeSciences {
                    serviceAccountEmail = "${params.google_service_account_email}"
                    debug = true
                    preemptible = true
                }
        }

        workDir = "${params.work_dir}"
     }

}

report {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_report.html"
}

timeline {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_timeline.html"
}




